*{
    border-style: none;
    user-select: none;
    font-weight: bold;
}


*:focus{
    outline: none;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    
}

.bodyFake{
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(Mr-Robot-tv-series-poster-wallpaper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 200;

}


a{
    text-decoration: none;
}


p{
    margin-bottom: 0;
    margin-top: 40px;
    margin-left: 10px;
    width:100px;
    height: 30px;
    color: rgb(224, 10, 10);
    font-weight: bolder;
    font-size: 15px;
}


.bluri{
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(4px);
}


input[type="text"],input[type="password"]{
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 3px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}


input[type="text"]::selection,input[type="password"]::selection{
    background-color: blue;
    color: black;
}


input::placeholder{
    color: red;
    font-weight: 450;
}


.taiid{
    display: flex;
    width: 65px;
    height: 35px;
    border-radius: 5px;
    background-color: #0B5ED7;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    
    
}


#charkhesh{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    border-top: 3px solid rgb(9, 131, 19);
    animation: spinb 900ms infinite linear;
    display: none;
}


@keyframes spinb {
    to{
        transform: rotate(360deg);
    }
}


.seasons{
    bottom: 0;
    display: none;
    flex-direction: flex;
    margin-top: 300px;
    width: 700px;
    height:300px;
    box-sizing: border-box;
    border-radius: 5px;
    align-items: flex-end;
    
}


.seasonall{
    display: flex;
    width: 500px;
    height: 70px;
    margin: 20px;
    border-radius: 5px;
    border: white 2px solid;
    cursor: pointer;
    background-image: url(download.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: painted;
}


.seasonall:hover{
    animation: out 100ms forwards;
}

@keyframes out {
    100%{
        outline: 5px solid white;
    }
}


.s1{
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    
}


.s2{
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    
}


.s3{
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    
}


.s4{
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    
}


.season1{
    display: flex;
    width: 100px;
    height: 70px;
    margin: 20px;
    border-radius: 5px;
    border: white 2px solid;
    cursor: pointer;
    background-image: url(download.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: painted;
    z-index: 1;
}


.season2{
    display: flex;
    width: 80px;
    height: 70px;
    margin: 24px;
    border-radius: 5px;
    border: white 2px solid;
    cursor: pointer;
    background-image: url(download.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: painted;
}




.season3{
    display: flex;
    width: 100px;
    height: 70px;
    margin: 20px;
    border-radius: 5px;
    border: white 2px solid;
    cursor: pointer;
    background-image: url(download.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: painted;
}


.season4{
    display: flex;
    width: 60px;
    height: 70px;
    margin: 24px;
    border-radius: 5px;
    border: white 2px solid;
    cursor: pointer;
    background-image: url(download.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: painted;
}


.season1:hover{
    animation: ou 100ms forwards;
}

@keyframes ou {
    100%{
        outline: 5px solid white;
    }
}

.season2:hover{
    animation: o 100ms forwards;
}

@keyframes o {
    100%{
        outline: 5px solid white;
    }
}

.season3:hover{
    animation: ouh 100ms forwards;
}

@keyframes ouh {
    100%{
        outline: 5px solid white;
    }
}

.season4:hover{
    animation: ouh 100ms forwards;
}

@keyframes ouc {
    100%{
        outline: 5px solid white;
    }
}


.divB{
    display: none;
    width: 100%;
    height: 60px;
    align-content: center;
    justify-content: center;

}


.divB button{
    width: 120px;
    height: 40px;
    margin-top: 20px;
    border-radius: 3px;
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    
}


.divB button:hover{
    animation: dd 5s infinite linear;

}

@keyframes dd {
    
    
}


.mute{
    display: none;
    top: 30px;
    right: 30px;
    z-index: 300;

}

.mute button{
    width: 120px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(64, 25, 204);
    color: white;
    justify-content: center;
    align-items: center;
}




.mute button:hover{

}