*{
    border-style: none;
    user-select: none;
    font-weight: bold;
}


*:focus{
    outline: none;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    
}

.bodyFake{
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(Mr-Robot-tv-series-poster-wallpaper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}


a{
    text-decoration: none;
    width: 150px;
    height: 70px;
    
}


p{
    margin-bottom: 0;
    margin-top: 40px;
    margin-left: 10px;
    width:100px;
    height: 30px;
    color: rgb(224, 10, 10);
    font-weight: bolder;
    font-size: 15px;
}


.bluri{
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(4px);
}


input[type="text"],input[type="password"]{
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 3px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}


input[type="text"]::selection,input[type="password"]::selection{
    background-color: blue;
    color: black;
}


input::placeholder{
    color: red;
    font-weight: 450;
}


.taiid{
    display: flex;
    width: 65px;
    height: 35px;
    border-radius: 5px;
    background-color: #0B5ED7;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    transition: 'all 0.3s ease';
    cursor: default !important;
    transform: translate(0px, 0px);
    /* transform: translateX(); */
    
}




#charkhesh{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    border-top: 3px solid rgb(9, 131, 19);
    animation: spinb 900ms infinite linear;
    display: none;
}


@keyframes spinb {
    to{
        transform: rotate(360deg);
    }
}


.seasons{
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-auto-rows: 60px;
    width: 50%;
    margin-bottom: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    
}


.seasonall{
    display: flex;
    width: auto;
    height: 70px;
    margin: auto;
    border-radius: 5px;
    border: white 2px solid;
    cursor: pointer;
    background-image: url(download.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: painted;
}


.seasonall:hover{
    animation: out 100ms forwards;
}

@keyframes out {
    100%{
        outline: 5px solid white;
    }
}


.s1{
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    grid-auto-rows: 100px;
    width: 100%;
    height: 10%;
    align-items: center;
    margin: auto;
    justify-items: center;

    
}


.s2{
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    grid-auto-rows: 100px;
    width: 100%;
    height: 10%;
    align-items: center;
    margin: auto;
    justify-items: center;
}


.s3{
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    grid-auto-rows: 100px;
    width: 100%;
    height: 10%;
    align-items: center;
    margin: auto;
    justify-items: center;
    
}


.s4{
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    grid-auto-rows: 100px;
    width: 100%;
    height: 10%;
    align-items: center;
    margin: auto;
    justify-items: center;
    
}


.season1{
    display: grid;
    margin: auto;
    /* margin-left: 50px; */
    width: 150px;
    height: 70px;
    border-radius: 5px;
    border: white 2px solid;
    cursor: pointer;
    background-image: url(download.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: painted;
}


.season2{
    display: grid;
    margin: auto;
    /* margin-left: 50px; */
    width: 150px;
    height: 70px;
    border-radius: 5px;
    border: white 2px solid;
    cursor: pointer;
    background-image: url(download.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: painted;
}




.season3{
    display: grid;
    margin: auto;
    /* margin-left: 50px; */
    width: 150px;
    height: 70px;
    border-radius: 5px;
    border: white 2px solid;
    cursor: pointer;
    background-image: url(download.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: painted;
}


.season4{
    display: grid;
    margin: auto;
    /* margin-left: 50px; */
    width: 150px;
    height: 70px;
    border-radius: 5px;
    border: white 2px solid;
    cursor: pointer;
    background-image: url(download.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: painted;
}


.season1:hover{
    animation: ou 100ms forwards;
}

@keyframes ou {
    100%{
        outline: 5px solid white;
    }
}

.season2:hover{
    animation: o 100ms forwards;
}

@keyframes o {
    100%{
        outline: 5px solid white;
    }
}

.season3:hover{
    animation: ouh 100ms forwards;
}

@keyframes ouh {
    100%{
        outline: 5px solid white;
    }
}

.season4:hover{
    animation: ouh 100ms forwards;
}

@keyframes ouc {
    100%{
        outline: 5px solid white;
    }
}


.divB{
    display: none;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    align-content: center;
    justify-content: center;

}


.divB button{
    width: 120px;
    height: 40px;
    margin-top: 20px;
    border-radius: 3px;
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    
}


.divB button:hover{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}


.mute{
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;


}

.mute button{
    display: flex;
    width: 170px;
    height: 40px;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(64, 25, 204);
    color: white;
    justify-content: center;
    align-items: center;
}




.mute button:hover{

}


.gg-play-pause-o {
    box-sizing: border-box;
    position: relative;
    display: flex;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 22px
    
   }
   
   .gg-play-pause-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    left: 6px;
    top: 6px;
    border-left: 2px solid;
    border-right: 2px solid
   } 



   .gg-play {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 20px
}
.gg-play::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    top: 4px;
    left: 7px
}


@media only screen and (max-width:700px) {
    .season1,.season2,.season3.season4{
        width: 70px;
    }

    .seasonall{
        width: 80px;
    }


    .seasonall p{
        font-size: 10px;
    }
}